@model JustDoorsAndScreens.DoorType

@{
    ViewBag.Title = "Edit";
}

@*<h2>Edit</h2>*@


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
<div class="card border border-dark shadow">
    <div class="card-header bg-light border-dark">
        <h4 class="text-dark"><strong>Edit Doorype</strong></h4>
    </div>
    <div class="card-body">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.DoorTypeID)

        <div class="form-group">
            <strong>@Html.LabelFor(model => model.DoorTypeName, htmlAttributes: new { @class = "control-label col-md-2" })</strong>
            <div class="col-md-10">
                @Html.EditorFor(model => model.DoorTypeName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.DoorTypeName, "", new { @class = "text-danger" })
            </div>
        </div>
        </div>
        <div class="card-footer">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-primary" />
                @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-secondary" })
            </div>
        </div>
    </div>
    }

 

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
