@model JustDoorsAndScreens.FlyScreenItem

@{
    ViewBag.Title = "DetailsFlyScreenItem";
}

@*<h2>DetailsFlyScreenItem</h2>*@

<div class="card border border-dark shadow">

    <div class="card-header bg-light border-dark sticky-top">
        <h4 class="text-dark"><strong>Detail FlyScreen Item</strong></h4>
        <span class="text-dark text-sm-center"><strong>Customer:</strong> @Model.Quote.Customer  <strong>Quote:</strong>  @Model.QuoteID</span>
    </div>

    <div class="card-body row">



        <div class="col-sm-6">
            <h5>FlyScreen Details</h5>
            <hr class="bg-dark" />

            <dl class="dl-horizontal">

                <dt>
                    @Html.DisplayNameFor(model => model.FlysScreenType.FlyScreenName)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.FlysScreenType.FlyScreenName)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.ColorType.ColorTypeName)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.ColorType.ColorTypeName)
                </dd>



                <dt>
                    @Html.DisplayNameFor(model => model.Qty)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Qty)
                </dd>

                <dt>
                    Cost Per Item
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Cost)
                </dd>

                <dt>
                    Total Cost
                </dt>

                <dd>
                    @{
                        var cst = @Model.Cost * @Model.Qty;
                        <label>@cst</label>
                     }
                </dd>


                <h5>Details</h5>
                <hr class="bg-dark" />

                @{var picture = Model.FlysScreenType.FlyScreenName + ".PNG";}
                <img class="p-3 img-fluid" src="~/images/@picture" />

            </dl>
        </div>

        <div class="col-sm-6">
            <h5>Width / Depth / Qty</h5>
            <hr class="bg-dark" />


            <table class="table table-bordered table-sm">
                <thead class="thead-dark">
                    <tr>
                        <th>W</th>
                        <th>D</th>
                        <th>Qty</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>@Html.DisplayFor(model => model.W1)</td>
                        <td>@Html.DisplayFor(model => model.D1)</td>
                        <td>@Html.DisplayFor(model => model.Q1)</td>
                    </tr>
                    <tr>
                        <td>@Html.DisplayFor(model => model.W2)</td>
                        <td>@Html.DisplayFor(model => model.D2)</td>
                        <td>@Html.DisplayFor(model => model.Q2)</td>
                    </tr>
                    <tr>
                        <td>@Html.DisplayFor(model => model.W3)</td>
                        <td>@Html.DisplayFor(model => model.D3)</td>
                        <td> @Html.DisplayFor(model => model.Q3)</td>
                    </tr>
                    <tr>
                        <td>@Html.DisplayFor(model => model.W4)</td>
                        <td>@Html.DisplayFor(model => model.D4)</td>
                        <td> @Html.DisplayFor(model => model.Q4)</td>
                    </tr>
                    <tr>
                        <td>@Html.DisplayFor(model => model.W5)</td>
                        <td>@Html.DisplayFor(model => model.D5)</td>
                        <td> @Html.DisplayFor(model => model.Q5)</td>
                    </tr>
                    <tr>
                        <td>@Html.DisplayFor(model => model.W6)</td>
                        <td>@Html.DisplayFor(model => model.D6)</td>
                        <td> @Html.DisplayFor(model => model.Q6)</td>
                    </tr>
                    <tr>
                        <td>@Html.DisplayFor(model => model.W7)</td>
                        <td>@Html.DisplayFor(model => model.D7)</td>
                        <td> @Html.DisplayFor(model => model.Q7)</td>
                    </tr>
                    <tr>
                        <td>@Html.DisplayFor(model => model.W8)</td>
                        <td>@Html.DisplayFor(model => model.D8)</td>
                        <td> @Html.DisplayFor(model => model.Q8)</td>
                    </tr>
                    <tr>
                        <td>@Html.DisplayFor(model => model.W9)</td>
                        <td>@Html.DisplayFor(model => model.D9)</td>
                        <td> @Html.DisplayFor(model => model.Q9)</td>
                    </tr>
                    <tr>
                        <td>@Html.DisplayFor(model => model.W10)</td>
                        <td>@Html.DisplayFor(model => model.D10)</td>
                        <td> @Html.DisplayFor(model => model.Q10)</td>
                    </tr>
                    <tr>
                        <td>@Html.DisplayFor(model => model.W11)</td>
                        <td>@Html.DisplayFor(model => model.D11)</td>
                        <td> @Html.DisplayFor(model => model.Q11)</td>
                    </tr>
                    <tr>
                        <td>@Html.DisplayFor(model => model.W12)</td>
                        <td>@Html.DisplayFor(model => model.D12)</td>
                        <td> @Html.DisplayFor(model => model.Q12)</td>
                    </tr>
                    <tr>
                        <td>@Html.DisplayFor(model => model.W13)</td>
                        <td>@Html.DisplayFor(model => model.D13)</td>
                        <td> @Html.DisplayFor(model => model.Q13)</td>
                    </tr>
                    <tr>
                        <td>@Html.DisplayFor(model => model.W14)</td>
                        <td>@Html.DisplayFor(model => model.D14)</td>
                        <td> @Html.DisplayFor(model => model.Q14)</td>
                    </tr>
                    <tr>
                        <td>@Html.DisplayFor(model => model.W15)</td>
                        <td>@Html.DisplayFor(model => model.D15)</td>
                        <td> @Html.DisplayFor(model => model.Q15)</td>
                    </tr>

                </tbody>
            </table>



  






        </div>



    </div>


    <div class="card-footer">
        @*@Html.ActionLink("Edit", "EditFlyScreenItem", new { id = Model.FlyScreenItemsID }, new { @class = "btn btn-primary" }) |*@
        @*@Html.ActionLink("Back Details", "QuoteDetails", "Quotes", new { id = Model.QuoteID }, new { @class = "btn btn-secondary" })*@

        <a href='@Url.Action("EditFlyScreenItem/"+ @Model.FlyScreenItemsID, "FlyScreenItems")' id="" class="btn btn-danger border-dark shadow"><i class="fa fa-edit"></i> Edit </a>
        <a href='@Url.Action("QuoteDetails/"+ @Model.QuoteID, "Quotes")' id="" class="btn btn-secondary border-dark shadow"><i class="fa fa-arrow-circle-left"></i> Back to Quote </a>
    </div>

</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script>

        // ********************************************************************************
        // * Document loaded completed Trigger
        // ********************************************************************************
        $(document).ready(function () {
            //ChangeDoorType();
        });


        function ChangeDoorType()
        {
            var picture = @Model.FlysScreenType.FlyScreenName;

            picture = window.location.origin + '@Request.ApplicationPath' + '/images/' + picture + '.PNG';
            console.log('Picture :' + picture);
            $("#pic").attr("src", picture);
        }


    </script>

}